<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="The Best shop in the weeeeeeeeeeeeeeeeeerld">

    <!-- title -->
    <title>Infinite.Services - Main</title>

    <!-- favicon -->
    <link rel="shortcut icon" type="image/png" class="main-img" href="assets/img/favicon.png">
    <!-- google font -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
    <!-- fontawesome -->
    <link rel="stylesheet" href="assets/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" /> <!-- bootstrap -->
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <!-- owl carousel -->
    <link rel="stylesheet" href="assets/css/owl.carousel.css">
    <!-- magnific popup -->
    <link rel="stylesheet" href="assets/css/magnific-popup.css">
    <!-- animate css -->
    <link rel="stylesheet" href="assets/css/animate.css">
    <!-- mean menu css -->
    <link rel="stylesheet" href="assets/css/meanmenu.min.css">
    <!-- main style -->
    <link rel="stylesheet" href="assets/css/main.css">
    <!-- responsive -->
    <link rel="stylesheet" href="assets/css/responsive.css">
    <!-- STYLES -->
    <link rel="stylesheet" href="assets/css/soso.css">
</head>

<body>


    <!--PreLoader-->
    <div class="loader">
        <div class="loader-inner">
            <div class="circle"></div>
        </div>
    </div>
    <!--PreLoader Ends-->

    <script>
        // دالة لحذف كوكيز محدد
        function eraseCookie(name) {
            document.cookie = name + '=; Max-Age=-99999999;';
        }

        // حذف الكوكيز المحددة
        function logout() {
            eraseCookie('username');
            eraseCookie('email');
            eraseCookie('password');
            eraseCookie('rememberMe');
            eraseCookie('id');
            eraseCookie('avatar');
            eraseCookie('displayName');
            eraseCookie('code');

            // إعادة التوجيه إلى الصفحة الرئيسية
            window.location.href = '/';
        }

        // تنفيذ دالة تسجيل الخروج عند تحميل الصفحة
        window.onload = logout;
    </script>
</body>

</html>